@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

@font-face {
    font-family: 'MADE Coachella';
    src: url('../fonts/MADECoachella.eot');
    src: url('../fonts/MADECoachella.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MADECoachella.woff2') format('woff2'),
        url('../fonts/MADECoachella.woff') format('woff'),
        url('../fonts/MADECoachella.ttf') format('truetype'),
        url('../fonts/MADECoachella.svg#MADECoachella') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Coachella';
    src: url('../fonts/MADECoachella-Bold.eot');
    src: url('../fonts/MADECoachella-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MADECoachella-Bold.woff2') format('woff2'),
        url('../fonts/MADECoachella-Bold.woff') format('woff'),
        url('../fonts/MADECoachella-Bold.ttf') format('truetype'),
        url('../fonts/MADECoachella-Bold.svg#MADECoachella-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Avant Garde Gothic Demi';
    src: url('../fonts/AvantGarde-Demi.eot');
    src: url('../fonts/AvantGarde-Demi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvantGarde-Demi.woff2') format('woff2'),
        url('../fonts/AvantGarde-Demi.woff') format('woff'),
        url('../fonts/AvantGarde-Demi.ttf') format('truetype'),
        url('../fonts/AvantGarde-Demi.svg#AvantGarde-Demi') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Coachella';
    src: url('../fonts/MADECoachella-Thin.eot');
    src: url('../fonts/MADECoachella-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MADECoachella-Thin.woff2') format('woff2'),
        url('../fonts/MADECoachella-Thin.woff') format('woff'),
        url('../fonts/MADECoachella-Thin.ttf') format('truetype'),
        url('../fonts/MADECoachella-Thin.svg#MADECoachella-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI.eot');
    src: url('../fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SegoeUI.woff2') format('woff2'),
        url('../fonts/SegoeUI.woff') format('woff'),
        url('../fonts/SegoeUI.ttf') format('truetype'),
        url('../fonts/SegoeUI.svg#SegoeUI') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI-Bold.eot');
    src: url('../fonts/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SegoeUI-Bold.woff2') format('woff2'),
        url('../fonts/SegoeUI-Bold.woff') format('woff'),
        url('../fonts/SegoeUI-Bold.ttf') format('truetype'),
        url('../fonts/SegoeUI-Bold.svg#SegoeUI-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    background-repeat: no-repeat;
}

html,
body {
    min-height: 100%;
    min-width: 100%;
    font-size: 16px;
    font-weight: normal;
    line-height: 1;
    letter-spacing: 0.01em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #181919;
    background-color: #fff;
}

html {
	overflow: auto;
}

html,
body,
button {
    font-family: "Roboto", Helvetica, sans-serif;
}

body {
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
.d-title-2,
.d-title-3,
.d-title-4,
.d-title-5 {
    margin: 0;
    font-weight: 700;
}

a {
	color: #fff;
}

a,
a:hover {
    text-decoration: none;
}

p {
    text-transform: none;
}

i {
    font-style: normal;
}

ul,
li,
p,
label {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.5;
}

::-moz-placeholder {
    color: inherit;
    opacity: 0.5;
}

:-moz-placeholder {
    color: inherit;
    opacity: 0.5;
}

:-ms-input-placeholder {
    color: inherit;
    opacity: 0.5;
}

input,
textarea,
button,
select,
a,
img,
:focus {
    border: none;
    outline: none;
}

img.w {
    display: block;
    width: 100%;
}

*::-ms-expand {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

button {
    cursor: pointer;
    position: relative;
    font-size: inherit;
    color: inherit;
    background: none;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

button:focus {
    outline: 0;
}

textarea {
    font-family: inherit;
    background-color: transparent;
    resize: none;
    overflow: auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.b-container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 1400px;
}

.b-row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.vertical-center {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
}

.center:not(.owl-item) {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.flex {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.b-dropdown {
    cursor: pointer;
    position: relative;
}

.b-dropdown-menu {
    cursor: pointer;
    position: absolute;
    top: 100%;
    -webkit-transform: scaleY(0);
       -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
         -o-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
       -moz-transform-origin: top;
        -ms-transform-origin: top;
         -o-transform-origin: top;
            transform-origin: top;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: -o-transform 0.3s;
    -moz-transition: transform 0.3s, -moz-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s, -moz-transform 0.3s, -o-transform 0.3s;
}

.b-dropdown:hover .d-dropdown-menu {
    -webkit-transform: scaleY(1);
       -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
         -o-transform: scaleY(1);
            transform: scaleY(1);
    z-index: 1;
}

.b-dropdown-item {
    display: block;
}


/*B-Select*/
.b-select-container {
    position: relative;
    font-size: 16px;
}

.b-select {
    display: none;
}

.b-select_styled {
    cursor: pointer;
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 7.5px 0;
}

.b-select_styled-value {
    color: #000;
}

.d-select_styled > svg {
    /*изменяемый*/
    position: absolute;
    top: 50%;
    right: 14px;
    height: 9px;
    fill: #000;
    -webkit-transform: translateY(-50%) scaleY(1);
       -moz-transform: translateY(-50%) scaleY(1);
        -ms-transform: translateY(-50%) scaleY(1);
         -o-transform: translateY(-50%) scaleY(1);
            transform: translateY(-50%) scaleY(1);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: -o-transform 0.3s;
    -moz-transition: transform 0.3s, -moz-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s, -moz-transform 0.3s, -o-transform 0.3s;
}

.b-select-container.active .d-select_styled > svg {
    -webkit-transform: translateY(-50%) scaleY(-1);
       -moz-transform: translateY(-50%) scaleY(-1);
        -ms-transform: translateY(-50%) scaleY(-1);
         -o-transform: translateY(-50%) scaleY(-1);
            transform: translateY(-50%) scaleY(-1);
}

.b-options-wrapp {
    position: absolute;
    top: -webkit-calc(100% + 3px);
    top: -moz-calc(100% + 3px);
    top: calc(100% + 3px);
    left: 0;
    display: none;
    width: 100%;
    overflow: hidden;
    /*
	opacity: 0;
	transform: scaleY(0);
	transform-origin: top;
	pointer-events: none;
	transition: .3s;
	transition-property: opacity, transform;
*/
}

/*
.b-select-container.active .d-options-wrapp {
	overflow: hidden;
	opacity: 1;
	transform: scaleY(1);
	pointer-events: all;
}
*/
.b-options {
    position: relative;
    display: block;
    width: 100%;
    border: 0;
    z-index: 1;
}

.b-options li {
    /*изменяемый*/
    cursor: pointer;
    display: block;
    text-align: left;
    color: #3b505f;
    border-bottom: 0;
    -webkit-transition: color .3s;
    -o-transition: color .3s;
    -moz-transition: color .3s;
    transition: color .3s;
}

.b-options li.active {
    color: #084573;
}

img {
	max-width: 100%;
}

.overflow-hidden {
	overflow: hidden;
}

.panel-slider {
	overflow: visible;
	z-index: 3;
}

%btn-gradient {
	position: absolute;
	top: 0;
	left: 0;
	width: 200%;
	height: 100%;
	background: linear-gradient(133.26deg, #90A7FF 9.04%, #FF88E7 37.03%);
	transition: transform 0.3s, background 0.3s;
	z-index: 1;
}

section {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
	
	@at-root {
		.bg-wrap {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			@at-root {
				.bg__mugs {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
	
					&::before, &::after {
						content: "";
						position: absolute;
						width: 216px;
						height: 95px;
						background-image: url("../img/icons/mugs.svg");
						background-repeat: no-repeat;
						background-size: cover;
					}

					&::before {
						bottom: 7px;
						left: 220px;
					}

					&::after {
						top: 16px;
						right: 413px;
					}
				}
			}
			
		}

		.bg__circle {
			position: absolute;
			right: 0;
			bottom: 0;
			width: 173.542%;
			transform: translate(29.05%, 33.97%);
		}
	}

	.circle__container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: auto;
		border-radius: 50%;
		background-image: linear-gradient(146.8deg, rgba(144, 167, 255, 0.15) 13.85%, rgba(255, 136, 231, 0.15) 84.7%);
		z-index: 0;
		pointer-events: none;

		&::before {
			position: absolute;
			display: block;
			content: "";
			width: 61.643%;
			height: 61.643%;
			background-color: #fff;
			border-radius: 50%;
		}

		&::after {
			content: "";
			position: relative;
			width: 100%;
			padding-bottom: 100%;
		}
	}
}

header {
	position: absolute;
	top: 52px;
	left: 0;
	display: flex;
	align-items: center;
	padding-left: 71px;
	padding-right: 60px;
	margin-right: 99px;  
	max-width: 1720px;
	width: 100%;
	z-index: 1000;

	.#{&}__menu {
		position: relative;
		margin-left: 179px;

		&::after {
			content: "";
			position: absolute;
			top: 4px;
			left: -21px;
			width: 74px;
			height: 18px;
			background-color: #F0C9E8;
		}
	}	

	.#{&}__basket {
		margin-left: auto;

	}

	@at-root {
		.logo {
			position: relative;
			display: flex;
			align-items: flex-start;
			justify-content: center;
			width: 185px;
			height: 52px;
			font-family: 'MADE Coachella', serif;
			font-size: 40px;
			line-height: 54px;
			font-weight: bold;
			color: #222F63;
			text-decoration: none;
			
			span {
				position: relative;
				display: inline-block;
				z-index: 2;
			}

			img	{ 
				position: absolute; 
				top: 9px;
				left: 50%;
				transform: translateX(-50%);
				z-index: 1;
			}
		}

		.menu {
			display: flex;

			&__item	{
				margin-right: 81px;
				z-index: 2;

				&:last-child {
					margin-right: 0;
				}

				%hover-efect {
					content: "";
					position: absolute;
					top: 100%;
					width: 0;
					height: 4px;
					background-color: #FF88E7;
					border-radius: 2px;
					transition: transform 0.3s, width 0.3s;
				}

				a {
					position: relative;
					display: inline-block;
					font-family: "Segoe UI";
					font-size: 24px;
					line-height: 32px;
					color: #000;
					cursor: pointer;

					&::before {
						@extend %hover-efect;
					}
				
					&:hover::before {
						width: 50%;
						transform: translateX(100%);
					}
				}
			}

			&__item.active a::before {
				@extend %hover-efect;
				width: 50%;
				transform: translateX(100%);
			}
			
		}

		.basket {
			position: relative;

			&__btn {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 58px;
				height: 58px;
				border-radius: 15px;
				z-index: 2;
				overflow: hidden;

				&::after {
					@extend %btn-gradient;
					content: "";
					border-radius: 15px;
				}

				&:hover::after {
					transform: translateX(-50%);
				}

				img {
					position: relative;
					z-index: 2;
				}
			}

			&__quantity {
				position: absolute;
				top: -10px;
				right: -13px;
				display: inline-block;
				width: 30px;
				height: 30px;
				font-size: 24px;
				line-height: 30px;
				color: #fff;
				text-align: center;
				background-color: #F63B3B;
				border-radius: 50%;
				z-index: 3;
				overflow: hidden;
			}
		}

		.hamburger {
			display: none;
			width: 58px;
			height: 52.5px;
			background-image: url("../img/icons/hamburger.png");
			background-position: left top;
			background-size: cover;
			cursor: pointer;
		}
	}
}

.navbar {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center; 
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.9);
	z-index: 10000;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.2s;

	&.active {
		opacity: 1;
		visibility: visible;
	}

	&__item {
		margin-top: 30px;

		&:last-child {
			margin-bottom: 0;
		}

		a {
			font-size: 3rem;
			color: #222F63;
			transition: color 0.3s;

			&:hover {
				color: #FF88E7;
			}
		}

		&.active a {
			color: #FF88E7;
		}
	}

	&__btn-close {
		position: absolute;
		top: 45px;
		right: 60px;
		width: 60px;
		height: 60px;
		opacity: 0.6;
		transition: opacity 0.3s;
		cursor: pointer;
		
		&:hover {
			opacity: 1;
		}

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			height: 4px;
			width: 100%;
			background-color: #222F63;
			border-radius: 2px;
			transform: translate(-50%, -50%) rotate(-45deg);
		}

		&::after {
			@extend .navbar__btn-close::before;
			transform: translate(-50%, -50%) rotate(45deg);
		}
	}
}

.trailer {
	position: fixed; 
	top: 50%;
	left: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.9);
	transform: translate(-50%, -50%);
	z-index: 10000;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.2s;

	&.active {
		opacity: 1;
		visibility: visible;
	}

	video {
		max-width: 1000px;
		width: 100%;
		outline: none;
	}

	&__btn-close {
		@extend .navbar__btn-close;
	}
}

.menu-vertical {
	position: absolute;
	left: 77px;
	bottom: 86px;
	white-space: nowrap;
	transform-origin: left bottom;
	transform: rotate(-90deg);
	z-index: 100;

	li {
		margin-right: 56px;

		a {
			font-family: "ITC Avant Garde Gothi";
			font-weight: 500;
			font-size: 24px;
			line-height: 30px;
			text-transform: uppercase;
			color: #000000;
			cursor: pointer;
		}
		
	}
}

.sci {
	position: absolute;
	bottom: 58px;
	left: 35.4%;
	display: flex;

	a {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 44px;
		width: 58px;
		height: 58px;
		border: 1px solid #000;
		border-radius: 15px;
		cursor: pointer;

		&:last-child {
			margin-right: 0;
		}
	}

	img {
		display: inline-block;
	}
}

.banner {
	position: relative;
	display: flex;
	margin-top: auto;
	margin-right: 122px;
	margin-left: auto;
	width: 51.094%;
	height: auto;

	&__bg {
		width: 100%;
		padding-bottom: 100%;
		background: linear-gradient(146.8deg, rgba(144, 167, 255, 0.2) 13.85%, rgba(255, 136, 231, 0.2) 84.7%);
		border-radius: 50%;
	}

	&__title {
		position: absolute;
		left: 8%;
    	top: 16.33%;
		font-family: "Segoe UI";
		font-weight: bold;
		font-size: 11.4vw;
		line-height: 1;
		text-transform: uppercase;
		color: #FFFFFF;
	}

	&__img {
		position: absolute;
		bottom: 0;
		right: -5.51%;
		width: 83.49%;
	}

	@at-root {
		.play {
			position: absolute;
			top: 39%;
			right: -5%;
			display: flex;
			justify-content: center;
			align-items: center;

			&__btn {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				min-width: 113px;
				height: 113px;
				background: linear-gradient(142.82deg, rgba(144, 167, 255, 0.5) 16.96%, rgba(255, 136, 231, 0.5) 77.38%);
				border-radius: 50%;
				cursor: pointer;

				&::before {
					content: "";
					display: block;
					width: 69%;
					height: 69%;
					background: linear-gradient(142.82deg, rgba(144, 167, 255, 0.5) 16.96%, rgba(255, 136, 231, 0.5) 77.38%);
					border-radius: 50%;
				}

				&::after {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-image: url("../img/icons/Polygon1.png");
					background-repeat: no-repeat;
					background-position: 55% center;
				}
			}

			&__text {
				margin-left: 24px;
				font-family: Segoe UI;
				font-weight: 400;
				font-size: 28px;
				line-height: 37px;
				color: #000000;
			}
			
		}
	}

}

.content {
	position: absolute;
	top: 228px;
	left: 256px;
	max-width: 800px;
	width: 100%;
	z-index: 50;

	&__btn {
		margin-bottom: 30px;
	}

	@at-root {
		.btn-collections {
			position: relative;
			display: inline-flex;
			padding: 0 23px;
			height: 56px;
			font-family: "PT Serif";
			font-weight: normal;
			font-size: 24px;
			line-height: 56px;
			color: #fff;
			overflow: hidden;
			border-radius: 10px;
			box-shadow: 2px 2px 10px 3px rgba(255, 136, 231, 0.4);
			transition: transform 0.3s;
			z-index: 1;
			color: #FFFFFF;

			&::before {
				content: "";
				@extend %btn-gradient;
				z-index: -1;
			}

			&:hover::before {
				transform: translateX(-50%);
			}
			
		}

		.slider {
			font-family: "MADE Coachella";
			color: #222F63;

			&__title {
				font-size: 74px;
				line-height: 96px;
				font-weight: 400;
			}

			&__text {
				font-weight: 250;
				font-size: 30px;
				line-height: 37px;
			}
		}

		.slider-arrows {
			display: flex;
			margin-top: 100px;
		}

		.arrows__prev {
			position: relative;
			width: 72px;
			height: 72px;
			border-radius: 50%;
			overflow: hidden;
			box-shadow: 1px 1px 10px 4px rgba(255, 136, 231, 0.4);
			cursor: pointer;
			transition: transform 0.3s;

			&::before {
				content: "";
				@extend %btn-gradient;
			}

			&:hover::before {
				transform: translateX(-50%);
			}

			svg {
				position: absolute;
				top: 50%;
				left: 50%;
				stroke: #fff;
				transform: translate(-50%, -50%);
				z-index: 4;
				transition: stroke 0.3s;
			}
		}

		.arrows__next {
			@extend .arrows__prev;
			margin-left: 76.5px;
		}

		.swiper-button-disabled {
			border: 1px solid #000;
			box-shadow: none;

			&::before {
				background: transparent;
			}

			svg {
				stroke: black;
			}
		}
	}
}

@media (max-width: 1400px) {
	.menu__item a {
		font-size: 22px;
		line-height: 30px;
	}

	.basket {

		&__btn {
			width: 50px;
			height: 50px;
		}

		&__quantity {
			width: 26px;
			height: 26px;
			font-size: 18px;
			line-height: 26px;
		}
	}

	.menu-vertical  {
		bottom: 66px;

		li {
			margin-right: 46px;

			a {
				font-size: 22px;
			}
		}
	}

	.sci {
		bottom: 38px;

		a {
			width: 48px;
			height: 48px;
			background-color: #fff;

			img {
				max-width: 65%;
			}
		}
		
	}

	.menu-vertical {
		bottom: auto;
		top: 860px;
	}
	
	.content {
		top: auto;
		left: auto;
		position: relative;
		margin: 200px 0 0 225px;
	}

	.btn-collections {
		height: 45px;
		font-size: 22px;
		line-height: 45px;
	}

	.slider__title {
		font-size: 64px;
	}

	.slider__text {
		font-size: 24px;
	}

	.slider-arrows {
		margin-top: 80px;
	}

	.arrows__prev, .arrows__next {
		width: 65px;
		height: 65px;
	}

	.play {
		top: 38%;
		right: -11.9%;
		font-size: 11.4vw;

		&__btn {
			min-width: 96px;
			height: 96px;
		}

		&__text {
			margin-left: 18px;
			font-size: 26px;
		}
	}

	.banner__title {
		left: 6%;
		font-size: 12vw;
	}

	.bg__mugs {
		&::after {
			right: 150px;
		}
	}
}

@media (max-width: 1280px) {
	.hamburger {
		display: block;
	}

	.bg__mugs::after {
		right: 328px;
	}

	.menu {
		display: none;
	}

	.header__basket {
		margin-right: 70px;
	}

	.play {
		top: 36%;
		right: -14.9%;
	}

	.sci {
		bottom: 20px;
	}

	.content {
		margin: 195px 0 0 180px;
		width: calc(100% - 195px);
	}

	.slider {

		&__title {
			font-size: 58px;
			line-height: 70px;
		}

		&__text {
			font-size: 22px;
		}
	}
}

@media (max-width: 810px) {
	.bg__mugs {
		display: none;
	}

	.content {
		margin: 210px 20px 0 120px;
		width: calc(100% - 140px);
	}

	.play {
		top: 23%;
		right: -28.9%;
		
		&__btn {
			min-width: 80px;
			height: 80px;
		}	

		&__text {
			margin-left: 15px;
			white-space: nowrap;
			font-size: 18px;
		}
	}

	.slider {
		&__title {
			font-size: 50px;
			line-height: 62px; 
		}

		&__text {
			font-size: 20px;
			line-height: 26px;
			
		}
	}
}

@media (max-width: 515px) {
	header {
		padding-left: 10px;
		padding-right: 10px;
		 
		@at-root {
			.#{&}__basket {
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	.content {
		margin: 210px 20px 40px 90px;
		width: calc(100% - 110px);
	}

	.navbar__btn-close, .trailer__btn-close {
		right: 10px;
	}

	.btn-collections {
		font-size: 20px;
	}

	.menu-vertical {
		left: 50px;
	}
	
	.play {
		top: -5%;
		left: 90%;
	}

	.sci {
		left: 50%;
		transform: translateX(-50%);
	}

}