@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

@font-face {
    font-family: 'MADE Coachella';
    src: url('../fonts/MADECoachella.eot');
    src: url('../fonts/MADECoachella.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MADECoachella.woff2') format('woff2'),
        url('../fonts/MADECoachella.woff') format('woff'),
        url('../fonts/MADECoachella.ttf') format('truetype'),
        url('../fonts/MADECoachella.svg#MADECoachella') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Coachella';
    src: url('../fonts/MADECoachella-Bold.eot');
    src: url('../fonts/MADECoachella-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MADECoachella-Bold.woff2') format('woff2'),
        url('../fonts/MADECoachella-Bold.woff') format('woff'),
        url('../fonts/MADECoachella-Bold.ttf') format('truetype'),
        url('../fonts/MADECoachella-Bold.svg#MADECoachella-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Avant Garde Gothic Demi';
    src: url('../fonts/AvantGarde-Demi.eot');
    src: url('../fonts/AvantGarde-Demi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvantGarde-Demi.woff2') format('woff2'),
        url('../fonts/AvantGarde-Demi.woff') format('woff'),
        url('../fonts/AvantGarde-Demi.ttf') format('truetype'),
        url('../fonts/AvantGarde-Demi.svg#AvantGarde-Demi') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Coachella';
    src: url('../fonts/MADECoachella-Thin.eot');
    src: url('../fonts/MADECoachella-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MADECoachella-Thin.woff2') format('woff2'),
        url('../fonts/MADECoachella-Thin.woff') format('woff'),
        url('../fonts/MADECoachella-Thin.ttf') format('truetype'),
        url('../fonts/MADECoachella-Thin.svg#MADECoachella-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI.eot');
    src: url('../fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SegoeUI.woff2') format('woff2'),
        url('../fonts/SegoeUI.woff') format('woff'),
        url('../fonts/SegoeUI.ttf') format('truetype'),
        url('../fonts/SegoeUI.svg#SegoeUI') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI-Bold.eot');
    src: url('../fonts/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SegoeUI-Bold.woff2') format('woff2'),
        url('../fonts/SegoeUI-Bold.woff') format('woff'),
        url('../fonts/SegoeUI-Bold.ttf') format('truetype'),
        url('../fonts/SegoeUI-Bold.svg#SegoeUI-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}